@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: p2p;
  src: url("/p2p.ttf");
}
.p2p {
  font-family: p2p;
}
@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(//fonts.gstatic.com/s/googlesans/v58/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2rgCIlsw.woff2)
    format("woff2");
  unicode-range: U+0308, U+0530-058F, U+2010, U+2024, U+25CC, U+FB13-FB17;
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(//fonts.gstatic.com/s/googlesans/v58/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2rgCIlsw.woff2)
    format("woff2");
  unicode-range: U+0308, U+0530-058F, U+2010, U+2024, U+25CC, U+FB13-FB17;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spritePosition {
  margin: 10px 0 0 10px;
  font-size: 0.8em;
}

.button {
  width: 140px;
  margin: 10px;
  padding: 10px;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #0ec3c9;
    color: #0ec3c9;
  }

  &:active {
    background-color: #0ec3c9;
  }

  /* Disabled styles */
  &:disabled {
    cursor: not-allowed;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }
}

.brick-col {
  background-image: url("/LeaderBoard/Brick.webp");
  background-size: 60px; /* Set the size of the background image */
  background-repeat: repeat; /* If you want the image to repeat across the background */
}
@media (max-width: 768px) {
  .brick-col {
    background-size: 30px;
  }
}
.button-dashed-border {
  position: relative;
}

.button-dashed-border::before {
  content: "";
  position: absolute;
  top: -0.5px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-image: linear-gradient(to right, white 60%, transparent 40%),
    linear-gradient(to right, white 60%, transparent 40%),
    linear-gradient(to bottom, white 60%, transparent 40%),
    linear-gradient(to bottom, white 60%, transparent 40%);
  background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: top, bottom, left, right;
}

.button-dashed-border {
  position: relative;
}

.button-dashed-border::before {
  content: "";
  position: absolute;
  top: -0.5px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background-image: linear-gradient(to right, white 60%, transparent 40%),
    linear-gradient(to right, white 60%, transparent 40%),
    linear-gradient(to bottom, white 60%, transparent 40%),
    linear-gradient(to bottom, white 60%, transparent 40%);
  background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: top, bottom, left, right;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.inner-scroller::-webkit-scrollbar {
  width: 0.3em;
}

.inner-scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.inner-scroller::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  outline: 1px solid #733aaa60;
  border-radius: 50px;
}

.--landing-card::before {
  content: "";
  position: absolute;
  background: radial-gradient(#ffffff, transparent, transparent);
  width: 400px;
  height: 100%;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s, top 0s left 0s;
}
.--landing-card:hover::before {
  opacity: 1;
}

.--landing-card::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(0, 0, 0.85);
  border-radius: 0.75rem;
}
.glow-text {
  background: linear-gradient(
    to right,
    #fff 20%,
    #dedede80 30%,
    #dedede80 50%,
    #fff 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.--nav-line {
  animation: nav-line-anim;
  animation-timeline: scroll(root);
}

@keyframes nav-line-anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  animation: animateCloud 90s linear infinite;
}
.x1-delay {
  animation: animateCloud 90s linear infinite;
  animation-delay: 20s;
}
.x2 {
  animation: animateCloud 50s linear infinite;
}
.x2-delay {
  animation: animateCloud 50s linear infinite;
  animation-delay: 30s;
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;

  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

.scroller {
  animation: expand;
  animation-timeline: view(0 40vh);
}

@keyframes expand {
  0% {
    scale: 0.8;
    top: -5rem;
  }
  100% {
    scale: 1.3;
    top: 0rem;
  }
}
.--navbar {
  animation: expand2;
  animation-timeline: view(0vh 40vh);
  background-color: #000000;
}

@keyframes expand2 {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
